#codex {
    padding-top: 30px;
    text-align: center;
}

.card {
    border-style: solid;
    border-radius: 999px;
    border-color: #222;
    text-align: center;
}

body {
    background-color: #151D28;
    margin: 0px;
    padding: 0px;
    line-height: 0.5 !important;
}

* {
    /* font-family: 'Nunito', sans-serif; */
}

html {
    overflow-x: hidden;
}

.full-width-container {
    width: 90%;
    max-width: 90%;
    /*padding: 10px;*/
    clear: both;
    margin: 0 auto;
    overflow: hidden;
}

.edit-btn {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding: 0px;
  margin: 10px;
  vertical-align: middle;
  line-height: inherit !important;
  color: #222;
  font-size: 160%;
}